<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Choc Todo</title>
</head>
<body>
    <div class="row">
        <nav class="container">
            <span style="font-size: 120%">Choc TODO</span>
            <div id="menu_btn">MENU</div>
            <div id="menu">
                <a href="/" class="button">Home</a>
                <a href="/todo" class="button">Todos</a>
                <a href="/signup" class="button">CREATE ACCOUNT</a>
                <a href="/login" class="button button-primary">SIGN IN</a>
                <button class="button" id="logout">LOGOUT</button>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="container center-text">
            <h1>Hello there!</h1>
            <p>This is a Simple Web application built by Ikeoha Chidi <a style="text-decoration: none;" href="https://twitter.com/chocdeveloper"> @chocdeveloper </a>with 💜, Skeleton CSS and Go</p>
            <p>2018</p>
        </div>
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>