<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <nav class="container">
            <span style="font-size: 120%">Choc Todo</span>
            <div>
                <a href="/" class="button">Home</a>
                <a href="/todo" class="button">Todos</a>
                <a href="/signup" class="button">CREATE ACCOUNT</a>
                <a href="/login" class="button button-primary">SIGN IN</a>
                <button class="button" id="logout">LOGOUT</button>
            </div>
        </nav>
    </div>
    <div class="row center-text">
        <div class="container">
            <h2>Your Todos</h2>
            <div>
                <ul id="list_todo"></ul>
            </div>
            <input type="text" id="add_todo_field" class="u-full-width">
            <button class="button" id="add_todo">Add todo</button>
        </div>
    </div>
    <script src="/static/js/todo.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>